@charset "UTF-8";

@font-face {
    font-family: 'RR' ;
    src: url('fonts/digital-7\ \(mono\ italic\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, #3f5f78 50%,#6393c1 100%);
}   

.base{
    font-family: 'RR';
    padding: 5px 5px 10px 0px;
    width: 300px;
    height: 300px;
    display:grid;
    margin: 300px auto;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    border: 2px black solid;
}
.ipt {
    font-family: 'RR';
    font-size: 30px;
    font-weight: 400;
    background-color: rgb(98, 95, 95);
    color: rgba(55, 232, 61, 0.859);
    text-align: right;
    border-radius: 10px;
    border: 2px rgb(0, 0, 0) solid;
    max-width: 270px; 
    max-height: 40px;
    margin-top: 5px; 
    margin-left: 14px;
  }
::placeholder{
   color: rgba(55, 232, 61, 0.859);
}
.ipt::placeholder {
    color: var(--placeholder-color);
  }
.c{
    background-color: rgb(216, 93, 93);
    width:60px;
    height:40px;
    font-size: 20px;
    border-radius: 10px;
    border:2px solid;
    box-shadow: 2px 4px #444343;
}

.ce{  
    font-size: 20px;
    background-color: rgb(234, 226, 118);
    width:60px;
    height:40px;
    border-radius: 10px;
    border:2px solid;
    box-shadow: 2px 4px #444343;
}

.som{
    font-size: 18px;
    background-color: rgb(79, 130, 129);
    width:60px;
    height:40px;
    border-radius: 10px;
    border:2px solid;
    box-shadow: 2px 4px #444343;
}

.onoff{
    color:rgba(55, 232, 61, 0.859);
    font-size: 18px;
    background-color: rgb(26, 41, 61);
    width:60px;
    height:40px;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 2px 4px #444343;
}
.bts{
    margin-top: 10px;
    margin-left: 20px;
    
}
.bts1{
    margin-top: 10px;
    margin-left: 20px;
}

.bts2{
    margin-top: 10px;
    margin-left: 20px;
}

.bts3{
    margin-top: 10px;
    margin-left: 20px;
}

.bts4{
    margin-top: 10px;
    margin-left: 20px;
}


.btss{
    font-size: 35px;
    background-color: rgb(157, 156, 156);
    width:60px;
    height:40px;
    border-radius: 10px;
    border:2px solid;
    box-shadow: 2px 4px #444343;
}

.c:active{   
    background-color:rgba(242, 238, 238, 0.077);
    box-shadow: 0 1px #2d2d2d;
    transform: translateY(1px);}
.ce:active{   
    background-color:rgba(242, 238, 238, 0.077);
    box-shadow: 0 1px #2d2d2d;
    transform: translateY(1px);}
.som:active{   
    background-color:rgba(242, 238, 238, 0.077);
    box-shadow: 0 1px #2d2d2d;
    transform: translateY(1px);}

.onoff:active {
    background-color:rgba(242, 238, 238, 0.077);
    box-shadow: 0 1px #2d2d2d;
    transform: translateY(1px);}

.btss:active {
    background-color: rgba(242, 238, 238, 0.077);
    box-shadow: 0 1px #2d2d2d;
    transform: translateY(1px);}

.btss:hover{
color:rgb(7, 242, 203);
}
.c:hover{
 color:rgb(248, 45, 4);
}
.ce:hover{
color:yellow;
}
.som:hover{
color:rgb(10, 181, 178);
}

